@model SomeStore.ViewModels.IndexProductViewModel
@{
    ViewData["Title"] = "Товары";
}
<div class="text-center">
    <h1 class="display-4" id="text-welcome">Наши товары</h1>
</div>
<div class="filtr-container">
    @*<select name="type" id="typeSelect" class="filtr-select">
        <option value="0">Все</option>
    </select>*@
    <input type="text" id="inp-namesearch" class="filtr-select" placeholder="Поиск"/>
    <select name="Category" id="categorySelect" asp-items="Model.Categories" class="filtr-select">
        <option value="0">Все</option>
    </select>
    <button class="btn-filtr" onclick="LoadFiltInfo()">ПОКАЗАТЬ</button>
</div>
<div class="product-container">
    @if (Model.Products.Count() > 0)
    {
        @foreach (var product in Model.Products)
        {
            <div class="product-card">
                <img src="@product.ImageURL" class="img-fluid img-product" title="@product.Name" />
                <div class="product-card-infodiv">
                    <h4 class="h4-product">@product.Name</h4>
                    <p class="mt-3"><strong><span style="color: rgb(255, 128, 43);">@product.Price р.</span></strong></p>
                    <input name="product_id" type="hidden" value="@product.Id" />
                    <a asp-controller="Product" asp-action="ProductCard" asp-route-id="@product.Id">Подробнее</a>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Пусто</h2>
    }

</div>